// ============================================= 

//  Base SCSS                

// ============================================= 


//  Import components              
// ============================================= 
@import "components/base";


//  Import partials              
// =============================================
@import "partials/reset";
@import "partials/type";
@import "partials/header";
@import "partials/category";
@import "partials/footer";



//  Base styles            
// =============================================

body {
  margin: 30px 5.5% 40px;
  background: $bground;
}



.button-big {
	@include border-radius(50%);
	margin-left: 5px;
	width: 40px;
	height: 40px;
	border: 1px solid $accent;
	background-color: $bground;
}