// ============================================= 

//  Base SCSS                

// ============================================= 


//  Import components              
// ============================================= 
@import "components/base";


//  Import partials              
// =============================================
@import "partials/reset";
@import "partials/type";
@import "partials/layout";
@import "partials/header";
@import "partials/category";
@import "partials/footer";


//  Base styles            
// =============================================

html {
	height: 100%; 
}

body {
	margin: 0 5.5%;
	padding-top: 30px;
	background: $bground;
	max-width: $x-large;
	height: 100%;
	@media (min-width: $medium) {
		padding-top: 50px;
		margin: 0 50px;
	}
	@media (min-width: $x-large) {
		margin: 0 auto;
		padding: 50px 50px 0;
	}
}

.body-wrap {
	display: table;
	height: 100%;
}

.button-big {
	@include border-radius(50%);
	margin-left: 5px;
	width: 40px;
	height: 40px;
	border: 1px solid $accent;
	background-color: $bground;
	@media (min-width: $medium) {
		&:first-child {
			margin-left: 0;
		}
	}
}

.button-big-contact {
	position: relative;
	z-index: 1;	
}

