// ============================================= 

//  Base SCSS                

// ============================================= 


//  Import components              
// ============================================= 
@import "components/base";


//  Import partials              
// =============================================
@import "partials/reset";
@import "partials/type";
@import "partials/header";
@import "partials/category";
@import "partials/footer";



//  Base styles            
// =============================================

body {
  margin: 30px 5.5% 40px;
  background: $bground;
}

a {
  color: $accent;
  text-decoration: none;
}