// ============================================= 

//  Base SCSS                

// ============================================= 


//  Import components              
// ============================================= 
@import "components/base";


//  Import partials              
// =============================================
@import "partials/type";


//  Base styles            
// =============================================
body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: $black-95;
  color: white;
  margin: 0 5.5% 40px;

}

a {
  color: green;
  text-decoration: none;
}

.post-txt-label {
  text-transform: uppercase;
}

.folio-content {
}