---
layout: allpages
---

<main class="folio-content">
	<ul class="category-list">

		{% for cat in site.categories %}
		<li class="category">
			<h2 class="category-name">{{ cat[0] }}</h2>
			
			<ul class="post-list">
				{% for post in cat[1] %}
				{% assign i = forloop.index %}
				<li class="post-wrap">
					<div class-"post">
						<div class="img-top-wrap">
							<p class="post-txt"><span class="post-txt-label">No.</span> {{ i }}</p>
							<div class="post-nav-mod">
								<button class="button post-nav prev-post icon">&#59233;</button>
								<button class="button post-nav next-post icon">&#59234;</button>
							</div>
						</div>
						<img class="post-img" src="{{ post.image }}" />
						<p class="post-txt"><span class="post-txt-label">Client:</span> {{ post.client }}</p>
						<p class="post-txt"> {{ post.story }}</p>
						<button class="button expand-post icon">&#59232;</button>
						<button class="button collapse-post icon">&#59235;</button>
					</div>
				</li>
				{% endfor %}
			</ul>

		</li>
		{% endfor %}

	</ul>
</main>