---
layout: allpages
---

<main class="folio-content">
	<ul class="cat-list grid" data-catindex="0">

		{% for cat in site.categories %}
		{% assign ic = forloop.index %}
		<li class="cat" data-postindex="0" data-cat={{ ic }}>
			<h2 class="cat-name">{{ cat[0] | capitalize }}</h2>
			<button class="cat-btn cat-btn-outside cat-expand icon">&#59236;</button>
			<ul class="post-wrap">
				{% for post in cat[1] %}
				{% assign i = forloop.index %}
				<li class="post">
					<div class="post-img-wrap">
						<div class="post-nav-mod">
							<button class="button-big-post button-big post-prev icon" data-dir="prev" >&#59237;</button>
							<button class="button-big-post button-big post-next icon"data-dir="next">&#59238;</button>
						</div>
						<img class="post-img lazy art" src="/img/transparent.gif" data-original="{{ post.image }}">
					</div>
					<div class="post-txt">
						<p class="post-txt-client"><span class="post-txt-label">Client:</span> {{ post.client }}</p>				
						<p class="post-txt-story"> {{ post.story }}</p>
						<p class="post-txt-index"><span class="post-txt-index-label">No.</span> {{ i }}</p>
					</div>
				</li>
				{% endfor %}
			</ul>

		</li>
		{% endfor %}

	</ul>
</main>


