<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />
    <title>Gus's Top Five</title>
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo" />
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/4991ce77-0bb6-4eeb-b2c7-641c02f85f2d.js"></script>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>

    <header class="header">
        <aside class="header-snark"><sup class="snark-sup">5</sup> Words in this title <em>and more...</em></aside>
        <div class="contact-tools">
            <a href="tel:8472801705" target="_blank">
                <button class="button-big-contact button-big icon">&#128222;</button>
            </a>
<!--             <a href="mailto:gwezerek@gmail.com" target="_blank">
                <button class="button-big-contact button-big icon">&#9993;</button>
            </a> -->
            <a href="/_posts/category2/2013-09-15-wind.html" target="_blank">
                <button class="button-big-contact button-big icon">&#9993;</button>
            </a>

            <!-- [Some Link]({% post_url 2010-07-21-name-of-post %}) -->
        </div>
        <div class="header-wrap"> 
            <a class="header-link" href="/">
    	        <img class="header-img" src="/img/g-logo.svg" alt="Gus Wezerek's Top Five ___">
            </a>
        </div>
    </header>






    <!-- Non SVG Header -->

    <!--             <h1 class="header-title">
                <div id="title-line-1">Gus<sup class="title-sup">1</sup>
                </div>
                <div id="title-line-2">Wezerek's<sup class="title-sup">2</sup> 
                </div>
                <div id="title-line-3">Top<sup class="title-sup">3</sup> Five<sup class="title-sup">4</sup> ___<sup class="title-sup">5</sup>
                </div>
            </h1> -->


                        <!-- <a href="tel:8472801705" class="button-big-contact button-big icon">&#128222;</a> -->
            <!-- <a href="mailto:gwezerek@gmail.com" class="button-big-contact button-big icon">&#9993;</button> -->