<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />
    <title>GW's Top Five Favorites</title>
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo" />
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/4991ce77-0bb6-4eeb-b2c7-641c02f85f2d.js"></script>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>

    <header class="header">
        <aside class="header-snark"><sup class="header-snark-sup">5</sup> Words in this title <em>and more...</em></aside>
        <div class="contact-tools">
            <button class="button-big-contact button-big icon">&#128222;</button>
            <button class="button-big-contact button-big icon">&#9993;</button>
        </div> 
        <a class="header-link" href="/">
	        <img class="header-img" src="/img/g-logo.svg" alt="Gus Wezerek's Top Five ___">
        </a>
    </header>






    <!-- Non SVG Header -->

    <!--             <h1 class="header-title">
                <div id="title-line-1">Gus<sup class="title-sup">1</sup>
                </div>
                <div id="title-line-2">Wezerek's<sup class="title-sup">2</sup> 
                </div>
                <div id="title-line-3">Top<sup class="title-sup">3</sup> Five<sup class="title-sup">4</sup> ___<sup class="title-sup">5</sup>
                </div>
            </h1> -->