<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />
    <title>Gus's Top Five</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo" />
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/4991ce77-0bb6-4eeb-b2c7-641c02f85f2d.js"></script>
    <link rel="stylesheet" href="/css/site.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25846003-1']);
      _gaq.push(['_setDomainName', 'guswezerek.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body>
    
    <div class="body-wrap">
    <header class="header">
        <aside class="header-snark"><sup class="snark-sup">5</sup> Words in this title <em>and more...</em></aside>
        <div class="header-contact-tools">
            <a href="https://github.com/gwezerek" target="_blank">
                <button class="button-big-contact button-big icon">&#62208;</button>
            </a>
            <a href="mailto:gwezerek@gmail.com" target="_blank">
                <button class="button-big-contact button-big icon">&#9993;</button>
            </a>
        </div>
        <div class="header-wrap"> 
            <a class="header-link" href="/">
    	        <img class="header-img" src="/img/g-logo-black.svg" alt="Gus Wezerek's Top Five ___">
            </a>
        </div>
    </header>