/* !============================================= */

/* ! Variables						  			  */ 

/* !============================================= */

/* !-- Universal ------------------------------------ */

$black-5: #f5f5f5;
$black-10: #ededed;
$black-15: #ccc;
$black-50: #999;
$black-75: #666; 
$black-90: #222; 
$black-95: #111; 

$light-gray: $black-10;
$med-gray: $black-50;
$dark-gray: $black-75;
$tease-txt: $black-75;
$txt-black: $black-90;
$text-black: $txt-black;

$blue: #1d78af;

$selection-color: $blue;
$selection-color-type: #FFF;

$link: $blue;
$link-hover: darken($link, 8%);
$highlight: #ea4c88;  //Pink

$sans:Arial,Helvetica,Verdana,sans-serif;
$serif:Georgia,Times,Times New Roman,serif;
$mono:"Courier New",Courier,mono;


/* !-- Project ------------------------------------ */

$medium: 600px;
$single-large: 800px;
$large: 960px;
$x-large: 1200px;

$accent: black;
$bground: white;

$accent-40: tint($accent,40%);
$accent-50: tint($accent, 50%);
$bground-90: shade($bground, 30%);


// Mixin that uses variables
// =============================================

@mixin text-link {
	@include trans(0.2s, color, ease-in-out);
	color: $accent-40;
	&:hover {
		color: $accent;
	}
}



/* !-- Paths ------------------------------------ */

$rgba-bg-path: "rgba-bg/";
$svg-path: "icons/";
