// ============================================= 

//  cat of five items             

// ============================================= 

.cat {
	position: relative;
}

.cat-name {
	font-size: 1.5em;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family:'TimesNewRomanW04-CondBo';
	font-weight: 500;
	  text-rendering: optimizeLegibility;

}

.cat-btn {
	@include rotate(180deg);
	@include trans(.2s, transform, ease-in);
	position: absolute;
	right: 0;
}

.cat-btn-outside {
	top: 3px;
}

.cat-btn-inside {
	bottom: 2px;
	@include rotate(0deg);
}

.cat-expand {
	@include rotate(0deg);
}

.post-wrap {
	margin-bottom: 40px; 
	padding: 25px 0 15px 15px;
	border: solid $accent;
	border-width: 1px 0 1px 1px;
}

.post-wrap-collapsed {
	padding: 0;
	border-width: 0 0 1px 0;
}

.post {
	position: relative;
}

.post-collapsed {
	display: none;
}

.img-top-wrap {
	@include pie-clearfix;
	position: relative;
	margin-bottom: 15px;
}

.post-txt-client {
	position: absolute;
	top: -1px;
	padding-bottom: 2px;
	width: 100%;
	border-bottom: 1px solid $accent;
}

.post-txt-index {
	position: absolute;
	bottom: -1px;
	display: inline;
}

.post-txt-index-label {
  text-transform: uppercase;
}

.post-nav-mod {
	float: right;
}

.post-nav {
	@include border-radius(50%);
	position: relative;
	z-index: 1;
	margin-left: 5px;
	width: 40px;
	height: 40px;
	border: 1px solid $accent;
	background-color: $bground;
}

.post-img {
	margin-bottom: 10px;
	width: 100%;
}

.post-txt-story {
	padding-right: 25px;
	font-family:'NeueHaasGroteskText W01';
}



