// ============================================= 

//  Category of five items             

// ============================================= 

.category-name {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.post-wrap {
	margin-bottom: 40px; 
	padding: 15px 0 15px 15px;
	border: solid $accent;
	border-width: 1px 0 1px 1px;
}

.post {
	position: relative;
}

.img-top-wrap {
	@include pie-clearfix;
	position: relative;
	margin-bottom: 10px;
}

.post-txt-index {
	position: absolute;
	bottom: 0;
	display: inline;
}

.post-txt-index-label {
  text-transform: uppercase;
}

.post-nav-mod {
	float: right;
}

.post-nav {
	@include border-radius(50%);
	width: 40px;
	height: 40px;
	border: 1px solid $accent;
}

.post-img {
	width: 100%;
	margin-bottom: 10px;
}

.expand-post {
	position: absolute;
	right: 0;
	top: -45px;
}

.collapse-post {
	position: absolute;
	right: 0;
	bottom: -5px;
}

