// ============================================= 

//  cat of five items             

// ============================================= 

.cat {
	position: relative;
	&.expanded > .cat-name {
		color: $accent;
	}
}

.cat-name {
	margin-bottom: 10px;
	color: $accent-50;
	text-transform: uppercase;
	font-weight: 500;
	font-size: em(26);
	font-family:'TimesNewRomanW04-CondBo';
}

.cat-btn {
	@include rotate(180deg);
	@include trans(.2s, transform, ease-in);
	position: absolute;
	right: 0;
}

.cat-btn-outside {
	top: 3px;
}

.cat-btn-inside {
	@include rotate(0deg);
	bottom: 2px;
}

.cat-expand {
	@include rotate(0deg);
	color: $accent-50;
}

.post-wrap {
	margin-bottom: 40px; 
	padding: 20px 0 20px 15px;
	border: solid $accent;
	border-width: 1px 0 1px 1px;
}

.post-wrap-collapsed {
	padding: 0;
	border-width: 0 0 1px 0;
	border-color: $accent-50;
}

.post {
	position: relative;
}

.post-collapsed {
	display: none;
}

.img-top-wrap {
	@include pie-clearfix;
	position: relative;
	margin-bottom: 15px;
}

.post-txt-client {
	position: absolute;
	top: -1px;
	padding-bottom: 2px;
	width: 100%;
	border-bottom: 1px solid $accent;
}

.post-txt-label {
	text-transform: uppercase;
	font-family:'TimesNewRomanW04-Conden';
}

.post-txt-index {
	position: absolute;
	bottom: -1px;
	display: inline;
}

.post-txt-index-label {
  text-transform: uppercase;
  font-family:'TimesNewRomanW04-Conden';
}

.post-nav-mod {
	float: right;
}

.button-big-post {
	position: relative;
	z-index: 1;
}

.post-img {
	margin-bottom: 15px;
	width: 100%;
}



