// ============================================= 

//  cat of five items             

// ============================================= 

.cat {
	position: relative;

	@media (min-width: $medium) { 
		display: table;
		height: 160px;
		border: 1px solid $accent;
		&:hover {
			border-width: em(5);
		}
	}
	@media (min-width: $x-large) { 
		height: 200px;
	}			
}

// Could nest above, breaking out for clarity
.cat-expanded {
	> .cat-btn {
		@include rotate(0deg);
		color: $accent;
	}
	> .cat-name {
		color: $accent;
	}
	> .post-wrap {
		padding: 20px 0 20px 15px;
		border-width: 1px 0 1px 1px;
		@media (min-width: $medium) { 
			display: block;
		}			
	}
	.post {
		// display: block;
	}
}

.cat-name {
	@include lining;
	margin-bottom: 10px;
	color: $accent-50;
	font-weight: 500;
	font-size: em(22);
	font-family: 'PortraitRegular2';
	line-height: 120%;
	cursor: pointer;

	@media (min-width: $medium) {
		display: table-cell;	
		padding: em(20);
		color: $accent;
		vertical-align: middle; 
		text-align: center;
		text-transform: none;
		font-size: em(20);
	}

}

.cat-btn {
	@include rotate(180deg);
	@include trans(.2s, transform, ease-in);
	position: absolute;
	right: 0;
	color: $accent-50;
	@media (min-width: $medium) { 
		display: none;
	}	
}

.cat-btn-outside {
	top: 3px;
}

.cat-btn-inside {
	@include rotate(0deg);
	bottom: 2px;
}

.post-wrap {
	margin-bottom: 40px;
	padding: 0; 
	border: solid $accent;
	border-width: 0px 0 1px 0px;
	@media (min-width: $medium) { 
		display: none;
	}		
}

.post {
	position: relative;
	display: none;
}

.post-expanded {
	display: block;
}

.post-txt-client {
	position: absolute;
	top: -1px;
	padding-bottom: 2px;
	width: 100%;
	border-bottom: 1px solid $accent;
}

.post-txt-index {
	position: absolute;
	top: 25px;
	display: inline;
	.single-view & {
		@media (min-width: $medium) {
			top: static;
			bottom: 0;
		}
	}
}

.post-nav-mod {
	float: right;
	margin-bottom: 15px;
}

.button-big-post {
	position: relative;
	z-index: 1;
}


.post-img {
	margin-bottom: 15px;
	width: 100%;
}


// Single View Cat Styles

.single-view {
	@media (min-width: $medium) {
		.cat {
			display: none;
			height: auto;
			border-width: 0;
		}
		.cat-expanded {
			display: block;
		}
		.cat-name {	
			display: block;
			margin-right: 60%;
			padding: 0;
			color: $accent;
			text-align: left;
			font-size: em(22);	
		}
		.post {
			@include pie-clearfix;
		}
		.post-nav-mod {
			@include absolute(-60px 0 n n);	
			margin-bottom: 0;	
		}
		.post-wrap {
			padding: 40px 0 20px 20px;
		}
		.post-img {
			float: right;
			margin-bottom: 0;
			margin-bottom: 0;
			padding: em(10px);
			max-width: 60%;
			max-height: 800px;
			width: auto;
			border: 1px solid $accent;
		}
		.post-contain {
			.post-img-wrap {
				min-height: 0;
			}
			.post-img {
				position: static;
			}
		}
		.post-txt {
			width: 35%;					// fallback
			width: calc(40% - 20px);
		}
		.post-txt-client {
			position: static;
			margin-bottom: em(10);
			padding: 0;
			border-width: 0;
		}
		.post-txt-label {
			@include sans;
		}
		.post-txt-story {
			padding-bottom: em(30);
		}		
		.post-txt-index {
			@include lining;
			top: auto;
			bottom: 0;
		}
		.post-txt-index-label {
			@include sans;
		}
	}



	@media (min-width: 800px) {
		.cat-name {	
			margin-right: calc(70% + 20px);
		}
		.post-nav-mod {
			position: static;
			float: left;
		}
		.post-wrap {
			padding: 0;
			border-width: 0;
		}
		.post-img-wrap {
			position: relative;
			float: right;
			padding: 20px 0 20px 20px;
			min-height: 420px;
			width: 70%;
			border: solid $accent;
			border-width: 1px 0 1px 1px;
		}
		.post-img {
			@include absolute(n 0 20px n);
			padding: em(20px);
			max-width: calc(100% - 130px);
			max-height: 700px;
			background-color: $bground;
		}
		.post-txt {
			padding-top: 20px;
			width: 38%;					// fallback
			width: calc(30% - 20px);
			border-top: 1px solid $accent;
		}		
		.post-txt-index {
			right: auto;
			bottom: 20px;
			left: 20px;
		}
	}

}



