// ============================================= 

//  Footer                

// ============================================= 

.footer {
	display: table-row;
	height: 1px;
}

.footer-actions-wrap {
	@include sans;
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 10px;
	padding: 20px 0;
	border-top: 1px solid $accent;
	border-bottom: 1px solid $accent;
	display: none;
	@media (min-width: $medium) {
		display: block;
	}
}

.cat-change {
	position: absolute;
	display: none;
	text-transform: uppercase;
	font-size: 11px;
}

.prev-category {
	left: 0;
}

.next-category {
	right: 0;
}

.footer-contact-tools {
	display: none;
	@media (min-width: $medium) {
		display: inline;
		float: left;
		margin-top: 10px;
	}
}

.footer-button-big {
	margin-right: 5px;
}

.about-txt {
	text-align: left;
	border-top: 1px solid $accent;
	padding: 10px 0 30px;
	@media (min-width: $medium) {
		border: none;
		padding-bottom: 50px;
		float: right;
		width: calc((100% - 5em) * 2 / 3 + 2.5em);
	}
	@media (min-width: $large) {
		width: calc((100% - 7.5em) * 3 / 4 + 5em);
		text-align: justify;
	}
}

.colophon {
	// @include sans;
}

.filter {
	position: absolute;
	right: 0;
	left: 0;
}

.single-filter {
	margin: 0 auto;
	display: none;
	text-transform: uppercase;
	font-size: 12px;
}


.email-address {
	position: static;
	right: 0;
	float: right;
	margin-top: 4px;
}


.single-view {
	.about-txt {
		@media (min-width: $medium) {
			width: 60%;
			float: right;
		}
		@media (min-width: $single-large) {
			width: 70%;
			text-align: justify;
		}
	}
	.prev-category, .next-category {
		display: inline-block;
	}
	.single-filter {
		display: inherit;
	}
	.email-address, .filter, .footer-snark {
		display: none;
	}
}



