// ============================================= 

//  Footer                

// ============================================= 



.footer {
	
}

.footer-actions-wrap {
	position: relative;
	margin-bottom: 10px;
	padding: 20px 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	display: none;
}

.prev-category {
	position: absolute;
	left: 0;
}

.next-category {
	position: absolute;
	right: 0;
}

.about-txt {
	text-align: left;
	border-top: 1px solid white;
	padding-top: 10px;
}

.postscript {
	position: absolute;
	left: 0;
}

.email-address {
	position: absolute;
	right: 0;
}