// ============================================= 

//  Header            

// ============================================= 

.header {
	margin-bottom: 50px;
}

.header-snark {
	left: 0;
	padding: 0 0 4px 5.5%;
	margin: -3px 0 30px -6.5%;
	border-bottom: 1px solid $accent;
}

.contact-tools {
	position: absolute;
	top: 30px;
	right: 5.5%;
}

.button-big-contact {
	position: relative;
	z-index: 1;	
}

.header-img {
	width: 100%;
	max-width: 480px;
	margin-left: -5px;
}

.header-title {
	display: block;
	font-family:'NHaasGroteskTXW01-75Bd';
	text-rendering: optimizeLegibility;
	>div {
		line-height: 90%;
		&:first-child {
			margin-left: -10px;
			line-height: 75%;
		}
	}
}

.title-sup {
	font-size: 36px;
}