// ============================================= 

//  Header            

// ============================================= 

.header {
	margin-bottom: 50px;
	@media (min-width: $medium) {
		position: relative;
		margin-bottom: 40px;
	}	
}

.header-snark {
	@include trans(0.2s, margin, ease-in-out);
	left: 0;
	margin: -3px 0 30px -6.5%;
	padding: 0 0 4px 5.5%;
	border-bottom: 1px solid $accent;
	@media (min-width: $medium) {
		position: absolute;
		bottom: 0;
		margin: -3px 0 0 0;
		width: 100%;
		color: transparent;
		text-align: right;
		pointer-events: none;
	}
}

.header-contact-tools {
	position: absolute;
	top: 35px;
	right: 5.5%;
	@media (min-width: $medium) {
		display: none;
	}	
}

.header-wrap {
	@include trans(0.2s, width, ease-in-out);
	margin-bottom: em(10);
	@media (min-width: $medium) {
		@include media-grid(3, em(30), '.header-link');
	}
	@media (min-width: $large) {
			@include media-grid(4, em(30), '.header-link');
	}
}

.single-view {
	// .header {
	// 	margin-bottom: 50px;
	// }
	.header-snark {
		@media (min-width: $medium) {
			margin: -3px 0 -30px 0;
		}
	}
	.header-link {
		@media (min-width: $medium) {
			margin-bottom: 0;
			width: 35%;
			width: calc(40% - 20px);	
		}
		@media (min-width: 800px) {
			width: 28%;
			width: calc(30% - 20px);	
		}
	}
}

.header-link {
	@include trans(0.2s, width, ease-in-out);
	display: block;
	margin-bottom: 0;
}

.header-img {
	margin-left: -5px;
	width: 100%;	
}

.header-title {
	display: block;
	font-family:'NHaasGroteskTXW01-75Bd';
	text-rendering: optimizeLegibility;
	>div {
		line-height: 90%;
		&:first-child {
			margin-left: -10px;
			line-height: 75%;
		}
	}
}

.title-sup {
	font-size: 36px;
}