// ============================================= 

//  Layout SCSS                

// ============================================= 

.grid {
	@media (min-width: $medium) {
		@include media-grid(3, em(40), '.cat');		
	}
	@media (min-width: $large) {
		@include media-grid(4, em(40), '.cat');
	}
	@media (min-width: $x-large) {
		@include media-grid(5, em(40), '.cat');
	}	
}