// ============================================= 

//  Category of five items             

// ============================================= 

button {
	background: none;
	border: none;
	padding: 0;
	color: $accent;
}

a {
  color: $accent;
  text-decoration: none;
}