// ============================================= 

//  Type            

// ============================================= 

/* entypo */
.icon {
  font-family: 'entypo', sans-serif;
  font-size: 12px;
}

body {
	font-family:'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
	font-size: em(12);
	line-height: 130%;
	color: $accent;
}
