// ============================================= 

//  Type            

// ============================================= 

@font-face {
    @include serif;
    src: url('fonts/portrait-regular2.eot');
    src: url('fonts/portrait-regular2.eot') format('embedded-opentype'),
         url('fonts/portrait-regular2.woff') format('woff'),
         url('fonts/portrait-regular2.ttf') format('truetype'),
         url('fonts/portrait-regular2.svg#PortraitRegular2') format('svg');
}

/* entypo */
.icon {
  font-family: 'entypo', sans-serif;
}

body {
    @include serif;
    color: $accent;
    font-size: em(14);
    line-height: 140%;
    @media (min-width: $large) {
        font-size: em(16);
    }
}

