// ============================================= 

//  Type            

// ============================================= 

/* entypo */
.icon {
  font-family: 'entypo', sans-serif;
}

body {
    @include serif;
    color: $accent;
    font-size: em(14);
    line-height: 140%;
    @media (min-width: $large) {
        font-size: em(16);
    }
}

.inline-link {
    @include text-link;
}

