
<!-- {% include header.html %} -->

<!-- <li class="post post-collapsed {% if i == 1 %} current {% endif %}" data-index="{{ i }}"> -->
	<div class="img-top-wrap">
		<p class="post-txt-client"><span class="post-txt-label">Client:</span> {{ page.client }}</p>
		<a href="{{ post.url }}">							
			<p class="post-txt-index"><span class="post-txt-index-label">No.</span> {{ i }}</p>
		</a>
		<div class="post-nav-mod">
			<button class="button-big-post button-big post-prev icon">&#59237;</button>
			<button class="button-big-post button-big post-next icon">&#59238;</button>
		</div>
	</div>
	<img class="post-img lazy" src="/img/transparent.gif" data-original="{{ page.image }}">
	<p class="post-txt-story"> {{ page.story }}</p>
<!-- </li> -->

<!-- {% include footer.html %} -->

